@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.hand-normal {
  font-family: "Marck Script", cursive;
}

.hand-chaotic {
  font-family: "Bad Script", cursive;
}

/* Подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

/* Пример использования */
body {
    font-family: "Schoolbell", cursive;
}


body {
    margin: 0;
    background: url("Background3.png") center center/cover no-repeat;
    font-family: Arial;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: -1;
}

header{
    background: #333333;
    padding: 20px;
    color: white;
    text-align: center;

}

main {
    min-height: 300px;
    background: url("Background.png") center center/cover no-repeat;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

nav a{
    color: white;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #00a2ff;
    color: black;
    text-shadow: 0 0 5px #aaa;
}

main h1 {
    text-align: center;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

nav h1{
    color: none;
    text-align: left;
    padding: 18px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
}

nav h1:hover {
    background: none;
    color: rgb(25, 0, 255);
    text-shadow: 0 0 5px #aaa;
}
nav a:focus,
nav h1 {
    outline: none;
    background-color: none;
    background: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 1px solid #333;
  padding: 8px;
  background-color: #c6c6f0;
  color: black;
}

th {
  background-color: #c8c8ff;
  color: white;
}







